

body
{
	background-image: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    height: 70vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
	 position: relative;
	 width: 300px;
	 height: 425px;
	 border: 10px solid #4812eb;
	 margin: 120px auto 0 auto;
	 box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(255, 255, 255, 0.5)),url("https://www.pngwing.com/en/free-png-bisib");

background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
	 background-color: #e6f0e6;
}
 .card .text-container {
	 width: 80%;
	 height: 80%;
	 margin: auto;
}
 .strikethrough {
	 text-decoration: line-through;
}
 .card .text-container #head {
	 
	 
	margin: 20px auto 20px auto;
	font-family: 'Pilowlava';
	font-size: 2rem;
	font-style: italic;
	font-weight: 100;
	line-height: normal;
}
 .card p {
	 font-size: 1.1em;
	 line-height: 1.4;
	 font-family: 'Pilowlava';
	 color: #172433;
	 font-style: italic;
	 text-align: center;
	 margin: 30px auto 0px auto;
}
 .card .front {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 margin: -10px 0px 0px -10px;
	 border: 10px solid #4812eb;
	 backface-visibility: hidden;
	 background-color: #4812eb;
	/* background-image: url($cover-image);
	 */
	 background-size: contain;
	 transform-style: preserve-3d;
	 transform-origin: 0% 50%;
	 transform: perspective(800px) rotateY(0deg);
	 transition: all 0.8s ease-in-out;
}
 .card:hover .front {
	 transform: perspective(800px) rotateY(-170deg);
	 background-color: #41718d;
}
 .card:hover .back {
	 transform: perspective(800px) rotateY(-170deg);
	 box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
	 background-color: #d2dcd2;
}
 .card .back {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 border: 10px solid #4812eb;
	 margin: -10px 0px 0px -10px;
	 backface-visibility: visible;
	 filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
	 transform-style: preserve-3d;
	 transform-origin: 0% 50%;
	 transform: perspective(800px) rotateY(0deg);
	 transition: all 0.8s ease-in-out;
	 background-color: #e6f0e6;
	 box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.card:hover .back img {
	transform: perspective(800px) rotateY(-170deg);
	
	height: 100%;
	
}
.back img {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

.imgset
{
  position: relative;
  z-index: 1;
  margin-bottom: -215px;

}
.imgset img
{
    box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
	height: 100%;
}

.heading p{
	font-family: Pilowlava;
	font-size: 1rem;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
}



@media screen  and (max-width: 900px){
	body
		{
		background-image: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);;
			height: 70%;
			margin: 0;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
		.card {
			position: relative;
			width: 40%;
			height: 60%;
			border: 5px solid #4812eb;
			margin: 200px 70px 0 auto;
			box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
		   background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(255, 255, 255, 0.5));
	   
	   background-position: center; /* Center the image */
		 background-repeat: no-repeat; /* Do not repeat the image */
		 background-size: cover;
		 background-color: gold;
	   }
	   

		.card .text-container #head {
	 
	 
			margin: 50px auto 50px auto;
			font-family: 'Pilowlava';
			font-size: 1.4em;
			font-style: italic;
			font-weight: 70;
			line-height: 1;
			text-overflow: clip;
		}
		.card p {
			font-size: 1.2em;
			line-height: 1;
			font-family: 'Pilowlava';
			color: #172433;
			font-style: italic;
			text-align: center;
			margin: 40px auto 40px auto;
   }
   .card:hover .front {
	transform: perspective(800px) rotateY(-170deg);
	background-color: #8d7441;
	
}
.card:hover .back {
	transform: perspective(800px) rotateY(-170deg);
	box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
	background-color: gold;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(255, 255, 255, 0.5));
	width: 100%;
	height: 100%;
	
}
.card:hover .back img {
	transform: perspective(800px) rotateY(-170deg);
	
	height: 100%;
	
}
.back img {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}
.card .back {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 5px solid #4812eb;
	margin: -10px 0px 0px -10px;
	backface-visibility: visible;
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
	transform-style: preserve-3d;
	transform-origin: 0% 50%;
	transform: perspective(800px) rotateY(0deg);
	transition: all 0.8s ease-in-out;
	background-color: #15639b;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}



}

@media screen  and (max-width: 500px){
	body
		{
		background-image: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);;
			height: 70%;
			margin: 0;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
		.card {
			position: relative;
			width: 150px;
			height: 300px;
			border: 5px solid #4812eb;
			margin: 150px 20px 0 auto;
			box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
		   background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(255, 255, 255, 0.5));
	   
	   background-position: center; /* Center the image */
		 background-repeat: no-repeat; /* Do not repeat the image */
		 background-size: cover;
			background-color: gold;
	   }
	   

		.card .text-container #head {
	 
	 
			margin: 20px auto 30px auto;
			font-family: 'Pilowlava';
			font-size: 0.75em;
			font-style: italic;
			font-weight: 50;
			line-height: 1;
			text-overflow: clip;
		}
		.card p {
			font-size: 0.67em;
			line-height: 1;
			font-family: 'Pilowlava';
			color: #172433;
			font-style: italic;
			text-align: center;
			margin: 20px auto 20px auto;
   }
   .card:hover .front {
	transform: perspective(800px) rotateY(-170deg);
	background-color: #8d7441;
	
}
.card:hover .back {
	transform: perspective(800px) rotateY(-170deg);
	box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
	background-color: gold;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgba(255, 255, 255, 0.5));
	
	
}
.card .back {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 5px solid #4812eb;
	margin: -10px 0px 0px -10px;
	backface-visibility: visible;
	filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
	transform-style: preserve-3d;
	transform-origin: 0% 50%;
	transform: perspective(800px) rotateY(0deg);
	transition: all 0.8s ease-in-out;
	background-color: #15639b;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.card:hover .back img {
	transform: perspective(800px) rotateY(-170deg);
	
	height: 100%;
	
}
.back img {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

}

